/* Style pour le conteneur du formulaire */
form {
    background-color: #e0e0e0 ;
    padding: 20px;
    border-radius: 5px;
}

/* Style pour les labels*/
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.label-text {
    font-size: 18px;
    color: #212121;
}

/* Style pour les champs de saisie */
textarea {
    height: 100px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(168, 8, 43, 0.1);
}

button{
    background-color:#4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}